@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Semibold.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  background-color: #e6ecf0;
  padding-bottom: 20px; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0; }

header {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 301;
  height: 55px;
  width: 100%; }
  header .navbar {
    width: 100%; }

.page-content {
  margin-top: 55px; }

ul.nav li i {
  font-size: 18px; }
ul.nav li span {
  margin-left: 5px; }
ul.nav li .navbar-form .form-control {
  width: 300px; }
ul.nav li .user_full_name {
  margin: 0 5px; }

.feed .feed-content {
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  position: relative; }
.feed .no-post {
  margin: 10px 15px;
  padding: 10px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  font-weight: bold; }

.post-detail {
  padding: 10px 10px 0 10px; }
  .post-detail .post-context .post-context-left {
    float: left;
    display: flex; }
    .post-detail .post-context .post-context-left .post-is-question {
      -webkit-align-items: center;
      align-items: center;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-shrink: 0;
      flex-shrink: 0;
      -webkit-justify-content: center;
      justify-content: center;
      background-color: #92b558;
      height: 5rem;
      width: 5rem;
      margin-right: 15px; }
      @media (max-width: 767px) {
        .post-detail .post-context .post-context-left .post-is-question {
          height: 3rem;
          width: 3rem;
          margin-right: 5px; } }
      .post-detail .post-context .post-context-left .post-is-question .post-question-image {
        background-position: -7.5rem -119rem;
        background-image: url("/images/images-assignment-question.svg");
        background-repeat: no-repeat;
        background-size: 10.5rem, 121.4rem;
        flex-shrink: 0;
        height: 2.4rem;
        width: 2.4rem; }
    .post-detail .post-context .post-context-left .post-is-assignment {
      -webkit-align-items: center;
      align-items: center;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-shrink: 0;
      flex-shrink: 0;
      -webkit-justify-content: center;
      justify-content: center;
      background-color: #92b558;
      height: 5rem;
      width: 5rem;
      margin-right: 15px; }
      @media (max-width: 767px) {
        .post-detail .post-context .post-context-left .post-is-assignment {
          height: 3rem;
          width: 3rem;
          margin-right: 5px; } }
      .post-detail .post-context .post-context-left .post-is-assignment .post-assignment-image {
        background-position: -7.5rem -88.1rem;
        background-image: url("/images/images-assignment-question.svg");
        background-repeat: no-repeat;
        background-size: 10.5rem, 121.4rem;
        flex-shrink: 0;
        height: 2.4rem;
        width: 2.4rem; }
  .post-detail .post-context .post-user-profile-picture {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3); }
    @media (max-width: 767px) {
      .post-detail .post-context .post-user-profile-picture {
        height: 30px;
        width: 30px; } }
  .post-detail .post-context .post-context-content {
    float: left; }
    .post-detail .post-context .post-context-content .post-context-user-group .post-context-image {
      width: 11px;
      height: 9px;
      background-position: -271px -71px;
      background-image: url("/images/icons-2.png");
      background-size: auto;
      background-repeat: no-repeat;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px; }
      .post-detail .post-context .post-context-content .post-context-user-group .post-context-image u {
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        left: auto;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px; }
  .post-detail .post-content-info {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0; }
    .post-detail .post-content-info .post-title {
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.8rem;
      color: #333; }
    .post-detail .post-content-info .post-picture img {
      width: 100%;
      height: 235px;
      margin-top: 10px; }
  .post-detail .post-reacts {
    padding: 10px 0; }
    .post-detail .post-reacts .post-react {
      float: left;
      margin-right: 20px; }
      .post-detail .post-reacts .post-react a {
        color: #616770; }
        .post-detail .post-reacts .post-react a:hover, .post-detail .post-reacts .post-react a:focus {
          text-decoration: none; }
      .post-detail .post-reacts .post-react i {
        margin-right: 5px; }
      .post-detail .post-reacts .post-react span.badge {
        vertical-align: unset;
        margin-left: 5px; }
    .post-detail .post-reacts .favourite .favourited {
      color: #5890ff; }

.new-comment img {
  float: left;
  width: 30px;
  height: 30px; }
.new-comment .navbar-form {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px; }
  .new-comment .navbar-form .fa {
    font-size: 14px; }

.post-new-comment .new-comment {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f8fa;
  padding: 10px 10px; }
  .post-new-comment .new-comment img {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 5px; }
  .post-new-comment .new-comment .navbar-form {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 90%; }
    @media (max-width: 767px) {
      .post-new-comment .new-comment .navbar-form {
        padding: 0 30px; } }
    .post-new-comment .new-comment .navbar-form .form-control {
      height: 35px;
      width: 100%; }
    .post-new-comment .new-comment .navbar-form .fa {
      font-size: 16px; }

.reply-new-comment {
  margin-top: 5px; }

.files {
  margin-top: 10px; }
  .files .file {
    background: #f6f6f6;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    display: flex;
    margin-top: -1px; }
    .files .file .preview-file {
      float: left; }
      .files .file .preview-file img {
        width: 90px;
        height: 90px; }
      .files .file .preview-file .document img {
        padding: 30px; }
    .files .file .file-content {
      float: left;
      margin: auto;
      margin-left: 15px;
      max-width: 60%; }
      .files .file .file-content .file-file-name {
        color: rgba(0, 0, 0, 0.87);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-all; }
      .files .file .file-content .file-type {
        color: rgba(0, 0, 0, 0.55);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-all; }
      .files .file .file-content .button-actions {
        margin-top: 5px;
        position: relative; }
        .files .file .file-content .button-actions a.btn {
          line-height: 10px; }
    .files .file .file-content-name {
      width: 30%; }
    .files .file .file-content-type {
      width: 10%; }
    .files .file .action-with-file {
      margin: auto;
      position: relative;
      text-align: right; }

.comments {
  padding: 10px 0 10px 10px; }
  .comments .comment {
    margin-top: 10px; }
    .comments .comment .comment-user-profile-picture {
      float: left; }
      .comments .comment .comment-user-profile-picture img {
        width: 30px;
        height: 30px; }
    .comments .comment .comment-content-info {
      float: left;
      margin-left: 10px;
      width: 90%; }
      @media (max-width: 767px) {
        .comments .comment .comment-content-info {
          width: 80%; } }
      .comments .comment .comment-content-info .comment-user a {
        color: #365899;
        cursor: pointer;
        text-decoration: none; }
      .comments .comment .comment-content-info .comment-user .user-fullname {
        font-weight: bold;
        white-space: nowrap; }
      .comments .comment .comment-content-info .comment-time {
        color: #90949c; }
      .comments .comment .comment-content-info .comment-reacts {
        padding: 5px 0; }
        .comments .comment .comment-content-info .comment-reacts .comment-react {
          float: left;
          margin-right: 20px; }
          .comments .comment .comment-content-info .comment-reacts .comment-react .favourite-count {
            margin-left: 5px; }
            .comments .comment .comment-content-info .comment-reacts .comment-react .favourite-count:hover {
              text-decoration: none; }

.new-post {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12); }
  @media (max-width: 767px) {
    .new-post {
      margin: 10px 0px; } }
  .new-post .new-post-headline .new-post-headline-content i.fa {
    margin-right: 5px; }
  .new-post .new-post-headline .new-post-headline-content:last-of-type {
    top: -5px; }
  @media (max-width: 767px) {
    .new-post .new-post-headline .new-post-headline-content span {
      display: inline-block;
      overflow: hidden;
      padding-left: 0;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 70px; } }
  .new-post .new-post-content .user-create-post {
    float: left;
    margin-right: 10px; }
    .new-post .new-post-content .user-create-post img {
      width: 35px;
      height: 35px;
      border-radius: 50%; }
  .new-post .new-post-content .new-post-message {
    float: left;
    max-width: 100%;
    width: 100%; }
    @media (min-width: 992px) {
      .new-post .new-post-content .new-post-message {
        width: 90%; } }
  .new-post .new-post-content .content {
    width: 550px;
    margin: 10px 0;
    max-width: 100%; }
  .new-post .new-post-content textarea {
    resize: vertical;
    min-height: 34px;
    max-height: 100px; }
  .new-post .post-add-attachment {
    margin-top: 10px;
    padding: 20px 0 10px 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.12); }
    .new-post .post-add-attachment .post-add-file {
      background-color: #f2f2f2;
      border-radius: 20px;
      padding: 10px 100px 10px 30px;
      color: #000; }
      .new-post .post-add-attachment .post-add-file .fa {
        margin-right: 10px; }
  .new-post .post-attachments-previewer {
    margin-top: 10px; }
    .new-post .post-attachments-previewer tbody tr:first-of-type td {
      border-top: none; }
  .new-post .new-post-footer {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.12);
    margin-top: 10px;
    padding-top: 10px; }
    .new-post .new-post-footer .class-full-name {
      margin-left: 10px; }

.react-tabs [role=tablist] {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  height: 38px; }

.react-tabs [role=tab] {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  position: relative; }

.react-tabs [role=tab][aria-selected=true] {
  background: #fff;
  border-color: #aaa;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0; }

.react-tabs [role=tab]:focus {
  box-shadow: 0 0 5px #0188fe;
  border-color: #0188fe;
  outline: none; }

.react-tabs [role=tab]:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff; }

.title-modal {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12); }

.modal-bottom {
  padding-top: 15px;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.12); }
  .modal-bottom .btn:first-of-type {
    margin-right: 15px; }

.ui-box {
  margin-top: 20px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 3px; }
  .ui-box .ui-box-title {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
    padding: 10px; }
    .ui-box .ui-box-title .warning-icon {
      width: 16px;
      height: 16px;
      background-position: -17px -72px;
      background-image: url("/images/icons-3.png");
      background-size: auto;
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 10px; }
  .ui-box .ui-box-content {
    padding: 10px; }

.btn i.fa {
  margin-right: 5px; }

a.black-none-under {
  color: #000; }
  a.black-none-under:hover {
    text-decoration: none; }

.react-autosuggest__container {
  position: relative; }

.react-autosuggest__input {
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container {
  display: none; }

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px; }

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

.group-icon {
  background-image: url("/images/icons.png");
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px; }

.no-event {
  margin-top: 15px;
  font-weight: bold; }

.no-class {
  margin: 0 50px;
  font-weight: bold; }

.has-border-radius {
  border: 1px solid #dddfe2;
  border-radius: 3px;
  position: relative; }
  .has-border-radius:before {
    border: 1px solid #dddfe2;
    border-radius: 4px;
    bottom: -1px;
    content: '';
    left: -1px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: -1px; }

#divLoading {
  display: none; }

#divLoading.show {
  display: block;
  position: fixed;
  z-index: 100;
  background-image: url("/images/loading.gif");
  background-color: #fff;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0; }

#loadinggif.show {
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 101;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px; }

div.content {
  width: 1000px;
  height: 1000px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .rbc-calendar .rbc-toolbar {
    font-size: 12px; } }
@media (max-width: 991px) {
  .rbc-calendar .rbc-toolbar .rbc-btn-group:last-of-type {
    display: none; } }

/*# sourceMappingURL=common.css.map */
