$main-color: rgba(146, 181, 88, 1);
body {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: rgba(230, 236, 240, 1);
  padding-bottom: 20px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
}

header{
  position: fixed;
  top: 0;
  display: flex;
  z-index: 301;
  height: 55px;
  width: 100%;
  .navbar{
    width: 100%;
  }
}

.page-content{
  margin-top: 55px;
}

ul.nav {
  li {
    i {
      font-size: 18px;
    }
    span {
      margin-left: 5px;
    }
    .navbar-form {
      .form-control {
        width: 300px;
      }
    }
    .user_full_name {
      margin: 0 5px;
    }
  }
}

.feed{
  .feed-content{
    padding: 10px;
    background-color: #fff;
    border: .1rem solid rgba(0, 0, 0, 0.12);
  }
  .no-post{
    margin: 10px 15px;
    padding: 10px;
    background-color: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    font-weight: bold;
  }
}

.post-detail {
  padding: 10px 10px 0 10px;
  .post-user {
    .post-user-profile-picture {
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 10px;
    }
    .post-user-content {
      float: left;
    }
  }

  .post-content {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    .post-picture {
      img {
        width: 100%;
        height: 235px;
        margin-top: 10px;
      }
    }
  }

  .post-reacts {
    padding: 10px 0;
    .post-react {
      float: left;
      margin-right: 20px;
      a {
        color: #616770;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
      i {
        margin-right: 5px;
      }
    }
    .favourite {
      .favourited {
        color: rgb(88, 144, 255);
      }
      span.badge {
        vertical-align: unset;
        margin-left: 5px;
      }
    }
  }
}

.new-comment {
  img {
    float: left;
    width: 30px;
    height: 30px;
  }
  .navbar-form {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    .form-control {
      width: 400px;
    }
    .fa {
      font-size: 14px;
    }
  }
}

.post-new-comment {
  .new-comment {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background-color: rgba(245, 248, 250, 1);
    padding: 10px 10px;
    img {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 5px;
    }
    .navbar-form {
      float: left;
      margin-top: 0px;
      margin-bottom: 0px;
      .form-control {
        width: 400px;
        height: 35px;
      }
      .fa {
        font-size: 16px;
      }
    }
  }
}

.reply-new-comment {
  margin-top: 5px;
}

.files {
  margin-top: 10px;
  .file {
    background: #f6f6f6;
    border: .1rem solid rgba(0, 0, 0, 0.12);
    display: flex;
    margin-top: -1px;
    .preview-file {
      float: left;
      img {
        width: 90px;
        height: 90px;
      }
      .document {
        img {
          padding: 30px;
        }
      }
    }

    .file-content {
      float: left;
      width: 50%;
      height: 50%;
      margin: auto;
      margin-left: 15px;
      .file-file-name {
        color: rgba(0, 0, 0, 0.87);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
          color: $main-color;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .file-type {
        color: rgba(0, 0, 0, 0.55);
      }
      .button-actions{
        a.btn{
          line-height: 10px;
        }
      }
    }

    .action-with-file {
      width: 50%;
      height: 50%;
      margin: auto;
      text-align: right;
    }
  }
}

.comments {
  padding: 10px 0 10px 10px;
  .comment {
    margin-top: 10px;
    .comment-user-profile-picture {
      float: left;
      img {
        width: 30px;
        height: 30px;
      }
    }
    .comment-content {
      float: left;
      margin-left: 10px;
      width: 90%;
      .comment-reacts {
        padding: 5px 0;
        .comment-react {
          float: left;
          margin-right: 20px;
          .favourite-count {
            margin-left: 5px;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.new-post {
  margin: 10px 15px;
  padding: 10px;
  background-color: #fff;
  border: .1rem solid rgba(0, 0, 0, 0.12);
  .new-post-headline {
    .new-post-headline-content {
      i.fa{
        margin-right: 5px;
      }
      &:last-of-type {
        top: -5px;
      }
    }
  }
  .new-post-content {
    .user-create-post {
      float: left;
      margin-right: 10px;
    }
    .new-post-message {
      float: left;
    }
    .announcement {
      width: 550px;
      margin-top: 10px;
    }
    textarea {
      resize: vertical;
      min-height: 34px;
      max-height: 100px;
    }
  }
  .post-add-attachment {
    margin-top: 10px;
    padding: 20px 0 10px 0;
    border-top: .1rem solid rgba(0, 0, 0, 0.12);;
    .post-add-file {
      background-color: rgba(242, 242, 242, 1);
      border-radius: 20px;
      padding: 10px 100px 10px 30px;
      color: #000;
      .fa {
        margin-right: 10px;
      }
    }
  }
  .post-attachments-previewer {
    margin-top: 10px;
    tbody {
      tr {
        &:first-of-type {
          td {
            border-top: none;
          }
        }
      }
    }
  }
  .new-post-footer{
    border-top: 0.1rem solid rgba(0, 0, 0, 0.12);
    margin-top: 10px;
    padding-top: 10px;
    .class-full-name{
      margin-left: 10px;
    }
  }
}

.react-tabs [role=tablist] {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  height: 38px;
}

.react-tabs [role=tab] {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
}

.react-tabs [role=tab][aria-selected=true] {
  background: #fff;
  border-color: #aaa;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

.react-tabs [role=tab]:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs [role=tab]:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.mm-popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  border-radius: 10px;
  border: none;
  text-indent: -9999px;
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABGdBTUEAALGPC/xhBQAAB8BJREFUWAnFWAtsU1UY/s+5XTcYYxgfvERQeQXxNeYLjVFxLVvb2xasKIgSVNQoREVI1GhmfC6ioijiNDo1vBxb19uVtRWUzAQ1+EowOkSQzTBAUJio27r2Hr9TLJTaa7vK4yTtvec///+f7/znf5xzGf2PZnVMKRHUczEJNpgYDSEdPzTB6GdG1EbE2sxk+qqxsW5rrtNAT+/aZLtrkiDdLYhUIcSwQ9KsA7DaAbKdEWOCQBckxwrkOGP0Lf7rTAqrW+vzbT4kk91/1gAB7BqdYlVC0KUAsQuANOKKjwYUNYfff//PdNNZ3O4zqEe/FguZykhUYFGFQKspnBYGNW1LOplUWkaANtvUc3pY5FUAKwewb4jzR0KaN8ikoXrRZs2aVbBr3/6bddKfhHUHAugys+j3eCCwYv9/qflPgFab83ps52ookxZ6OOT3regtsNTJHY45fSO05yGh6wsFsZ1cIVtI035M5Uv0DQFabY77BWOLsNrmQrPi8Xq9vyaEjsXT4pg6VuiRABZfzAVzhwK+T9Lp5emIFru6QCd6CXv4+sRLSizHGpycM+yvayng/S6Do7QIJtZZVXVyOiz/sqDV4XAKweoxsDjUqM1PJ3QsaeVz5+bHtrc2IjWVmky8tKmhYVuy/qMsWOZyXSR0Wo4IDVxRWrIgmfF4vTctWdINF7oJljwQ7dG9lpkzC5PnOgywsrKSU1R/Gz6xo7hPwXT0scsnpkkXEnncjTw6kvZ3vJI8q5Lo5BUV3YaAuFthyjStof6HBP1EPbe3tOweNWpMF0AuGHveuNqtLS375NxxC8rQB7inkOd8wcaGDScKVOo8/fvmLwWOPZFIrDIxFgcYEbtnA9wgk1lZmBgwetrtnqGTbapqNG5Et06ZMhhuYzIal/Ta2tpOlMVnEAOeCqfzfEmLA0SV8KB+bljr9Wbc2ijrujpGwmdxOB+SCrJpckGiu+enT7/85uZM/P375FcjDn6LxsRMycsrPJ5B2PerOLE1mYTleNDvX8k4W4xK8HyZ3XlvJpkym+qJEa1B1VjHRwz7IBM/rBjBNodhxXLJy6N/dbvlSz4nr3xm08J+7QHkyTdI6EssDsftRjJWh2smtmwlyrZ29tBBbplSjHiT6ZyxIHZ1vHQnVBlRArTfaZq2J5kp0zuS+D2w5Hs4/FWj8sxI5bfa1TuF0GtAX4W0Na26uronlceon89FSI5FRPf1HJY4C2e1HUbMRnR5aCguyIf1RC143oW1piZ44Z/zdCFgYXpnYmnJrdg27HL2LW4sxg7A9YYhqthwEmJ99uJHOOXEiMxbNm76qkAX+kps9xSUyXHwzyps02tBv29urqcfGG4fzgKnIYrFMHTajkzbuzcAjBb3zb8ROtajTHqx2Cq8L4IL3JcruEMIxF4cck/niK4IjlV5vYN1NLeMPATDd6DKPBclhfmP5sipdxBSRdKCe/E7PScVEMJxnllszlfgcw/CYk8g4X8OSwbKHY7Lc9Up5aB2MNxvN2eC7UUnJ4DYXm51ON/AqXsuVvpAuFGrVAYUVUD991HBmuStL1eQ2N7hkG1DfqY92J4ze6vI4/EoCI53YcE7EBD3hAL+xVJH0/Llv5tFkRUTtOoiGrbY3ONz0F2MAOnPGG8FQLYRCi7DhP2yVTRnzpy8A391r8TipqNYzkZALEuWlRchpU9BGfbpF8Fi6yar6pjk8UzvBzt7SuM8grbwPBMPwArm37u6JmUSlOPyBLyjfVcdttGNPDfjQ7+/Jp1cU23tXp6fNwkRfTCmi/XydpiOLx0tRvoNWPzOoN+7iQe83u/h2Dvgh7Z0zKk0/afWF+C8VsYVTzigrUodT+6H6ut3IaKvw0KiEYp8pKpqUfJ4unfp16C7meD1Mk3JDprwovbdaLNNP+VQ3/hfKGwFJ+WasL+hwZjryEjY5/vZTObrYJFmznHJzNA+2/S1dI2BsLysUBBDw8qGdOr0Ixz75XCj/2FJOxlNpiyrQ/0CuZmF/b4Jhy2I2ie/qywFqHkAO/BkgJNzWu3OW7GTJZzT/EQV+meL5Veewudg0FhnjJacDIAul2sATlZPw3gavjR8nMBwGCDOofuA+m74o0de3BMMJ+KJwDD9GY2twdGtH+7GDybPeZTTbvthy+aRo8cUYxWPjhw1duO2rVu2JzMfr3dzYZF0LzdTmCvk832RPM9hCyaIEy+ZsBBpoRnlqyGXy1FCTzbPeKm0q1WoGnch1c0La9qHqXLxKE4lyqrS0YlKQVTBhJifKGOpfP+nXz5jRv9Yx8HliFwbXOtR1PFn0+lLC1Ayylrb0dn1IqJqHmr1alL4ApnT0inpLa1MVa9kungLQYk7B90SDGiakQ5DgAkBi02djeiqgrJC3A8WiQHFVUZfVBMyRs9yp3McrpPPIhHjXs02m0zspiafT54jDVtGgFJSpoDOqP4YfOU+KO+Cco1xsYaPGBHMdFOTRaBbl9+zyYlcWwZ17Vjw41dOmPAefDDj95+sACaWV+5ynQsLzMZ104NAGoVo/0Oe/eDgrVDUhtl2gl7IOA2Of/FnYgSAXRBPuoI+JS5WDzn11DdramqwyOxarwAmq7Ta3RfqIqZCwWhYZjicHbdDGhoHLeTXfmrHUWwngDaTWWkMe72/JMtn+/43YTIL+pAwwhkAAAAASUVORK5CYII=') no-repeat center center;
  background-size: 100%;
  margin: 0;
}

.ReactModal__Overlay{
  z-index: 1001;
  .ReactModal__Content{
    h2{
      font-size: 16px;
      padding-bottom: 15px;
      border-bottom: .1rem solid rgba(0, 0, 0, 0.12);
    }
  }
  .modal-bottom{
    padding-top: 15px;
    border-top: .1rem solid rgba(0, 0, 0, 0.12);
    button{
      &:first-of-type{
        margin-right: 15px;
      }
    }
  }
}

.ui-box{
  margin-top: 20px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  .ui-box-title{
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
    padding: 10px;
  }
  .ui-box-content{
    padding: 10px;
  }
}

.btn{
  i.fa{
    margin-right: 5px;
  }
}

a.black-none-under{
  color: #000;
  &:hover{
    text-decoration: none;
  }
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.group-icon{
  background-image: url('/images/icons.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.no-event{
  margin-top: 15px;
  font-weight: bold;
}

.no-class{
  margin: 0 50px;
  font-weight: bold;
}