$main-color: rgba(146, 181, 88, 1);
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Semibold.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 12px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px);
  }

  50% {
    -moz-transform: translate(0px, 12px);
  }

  100% {
    -moz-transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  50% {
    -webkit-transform: translate(0px, 12px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px);
  }

  50% {
    -o-transform: translate(0px, 12px);
  }

  100% {
    -o-transform: translate(0px, 0px);
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px);
  }

  50% {
    -ms-transform: translate(0px, 12px);
  }

  100% {
    -ms-transform: translate(0px, 0px);
  }
}

body {
  //font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  background-color: rgba(230, 236, 240, 1);
  padding-bottom: 20px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 301;
  height: 55px;
  width: 100%;
  .navbar {
    width: 100%;
  }
}

.page-content {
  margin-top: 55px;
}

ul.nav {
  li {
    i {
      font-size: 18px;
    }
    span {
      margin-left: 5px;
    }
    .navbar-form {
      .form-control {
        width: 300px;
      }
    }
    .user_full_name {
      margin: 0 5px;
    }
  }
}

.feed {
  .feed-content {
    background-color: #fff;
    border: .1rem solid rgba(0, 0, 0, 0.12);
    position: relative;
  }
  .no-post {
    margin: 10px 15px;
    padding: 10px;
    background-color: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    font-weight: bold;
  }
}

.post-detail {
  padding: 10px 10px 0 10px;
  .post-context {
    .post-context-left {
      float: left;
      display: flex;
      .post-is-question {
        -webkit-align-items: center;
        align-items: center;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        -webkit-justify-content: center;
        justify-content: center;
        background-color: $main-color;
        height: 5rem;
        width: 5rem;
        margin-right: 15px;
        @media (max-width: $screen-xs-max) {
          height: 3rem;
          width: 3rem;
          margin-right: 5px;
        }
        .post-question-image {
          background-position: -7.5rem -119rem;
          background-image: url('/images/images-assignment-question.svg');
          background-repeat: no-repeat;
          background-size: 10.5rem, 121.4rem;
          flex-shrink: 0;
          height: 2.4rem;
          width: 2.4rem;
        }
      }
      .post-is-assignment {
        -webkit-align-items: center;
        align-items: center;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        -webkit-justify-content: center;
        justify-content: center;
        background-color: $main-color;
        height: 5rem;
        width: 5rem;
        margin-right: 15px;
        @media (max-width: $screen-xs-max) {
          height: 3rem;
          width: 3rem;
          margin-right: 5px;
        }
        .post-assignment-image {
          background-position: -7.5rem -88.1rem;
          background-image: url('/images/images-assignment-question.svg');
          background-repeat: no-repeat;
          background-size: 10.5rem, 121.4rem;
          flex-shrink: 0;
          height: 2.4rem;
          width: 2.4rem;
        }
      }
    }
    .post-user-profile-picture {
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 10px;
      border: 1px rgba(0, 0, 0, 0.3);
      @media (max-width: $screen-xs-max) {
        height: 30px;
        width: 30px;
      }
    }
    .post-context-content {
      float: left;
      .post-context-user-group {
        .post-context-image {
          width: 11px;
          height: 9px;
          background-position: -271px -71px;
          background-image: url('/images/icons-2.png');
          background-size: auto;
          background-repeat: no-repeat;
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          u {
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            left: auto;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
          }
        }
      }
    }
  }

  .post-content-info {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    .post-title {
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.8rem;
      color: #333;
    }
    .post-picture {
      img {
        width: 100%;
        height: 235px;
        margin-top: 10px;
      }
    }
  }

  .post-reacts {
    padding: 10px 0;
    .post-react {
      float: left;
      margin-right: 20px;
      a {
        color: #616770;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
      i {
        margin-right: 5px;
      }
      span.badge {
        vertical-align: unset;
        margin-left: 5px;
      }
    }
    .favourite {
      .favourited {
        color: rgb(88, 144, 255);
      }
    }
  }
}

.new-comment {
  img {
    float: left;
    width: 30px;
    height: 30px;
  }
  .navbar-form {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    .fa {
      font-size: 14px;
    }
  }
}

.post-new-comment {
  .new-comment {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background-color: rgba(245, 248, 250, 1);
    padding: 10px 10px;
    img {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 5px;
    }
    .navbar-form {
      float: left;
      margin-top: 0px;
      margin-bottom: 0px;
      width: 90%;
      @media (max-width: $screen-xs-max) {
        padding: 0 30px;
      }
      .form-control {
        height: 35px;
        width: 100%;
      }
      .fa {
        font-size: 16px;
      }
    }
  }
}

.reply-new-comment {
  margin-top: 5px;
}

.files {
  margin-top: 10px;
  .file {
    background: #f6f6f6;
    border: .1rem solid rgba(0, 0, 0, 0.12);
    display: flex;
    margin-top: -1px;
    .preview-file {
      float: left;
      img {
        width: 90px;
        height: 90px;
      }
      .document {
        img {
          padding: 30px;
        }
      }
    }
    .file-content {
      float: left;
      margin: auto;
      margin-left: 15px;
      max-width: 60%;
      .file-file-name {
        color: rgba(0, 0, 0, 0.87);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-all;
      }
      .file-type {
        color: rgba(0, 0, 0, 0.55);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-all;
      }
      .button-actions {
        margin-top: 5px;
        position: relative;
        a.btn {
          line-height: 10px;
        }
      }
    }
    .file-content-name {
      width: 30%;
    }
    .file-content-type {
      width: 10%;
    }
    .action-with-file {
      margin: auto;
      position: relative;
      text-align: right;
    }
  }
}

.comments {
  padding: 10px 0 10px 10px;
  .comment {
    margin-top: 10px;
    .comment-user-profile-picture {
      float: left;
      img {
        width: 30px;
        height: 30px;
      }
    }
    .comment-content-info {
      float: left;
      margin-left: 10px;
      width: 90%;
      @media (max-width: $screen-xs-max) {
        width: 80%;
      }
      .comment-user {
        a {
          color: #365899;
          cursor: pointer;
          text-decoration: none;
        }
        .user-fullname {
          font-weight: bold;
          white-space: nowrap;
        }
      }
      .comment-time {
        color: #90949c;
      }
      .comment-reacts {
        padding: 5px 0;
        .comment-react {
          float: left;
          margin-right: 20px;
          .favourite-count {
            margin-left: 5px;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.new-post {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: .1rem solid rgba(0, 0, 0, 0.12);
  @media (max-width: $screen-xs-max) {
    margin: 10px 0px;
  }
  .new-post-headline {
    .new-post-headline-content {
      i.fa {
        margin-right: 5px;
      }
      &:last-of-type {
        top: -5px;
      }
      @media (max-width: $screen-xs-max) {
        span {
          display: inline-block;
          overflow: hidden;
          padding-left: 0;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 70px;
        }
      }
    }
  }
  .new-post-content {
    .user-create-post {
      float: left;
      margin-right: 10px;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
    .new-post-message {
      float: left;
      max-width: 100%;
      width: 100%;
      @media (min-width: $screen-md-min) {
        width: 90%;
      }
    }
    .announcement {
      width: 550px;
      margin-top: 10px;
      max-width: 100%;
    }
    textarea {
      resize: vertical;
      min-height: 34px;
      max-height: 100px;
    }
  }
  .post-add-attachment {
    margin-top: 10px;
    padding: 20px 0 10px 0;
    border-top: .1rem solid rgba(0, 0, 0, 0.12);;
    .post-add-file {
      background-color: rgba(242, 242, 242, 1);
      border-radius: 20px;
      padding: 10px 100px 10px 30px;
      color: #000;
      .fa {
        margin-right: 10px;
      }
    }
  }
  .post-attachments-previewer {
    margin-top: 10px;
    tbody {
      tr {
        &:first-of-type {
          td {
            border-top: none;
          }
        }
      }
    }
  }
  .new-post-footer {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.12);
    margin-top: 10px;
    padding-top: 10px;
    .class-full-name {
      margin-left: 10px;
    }
  }
}

.react-tabs [role=tablist] {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  height: 38px;
}

.react-tabs [role=tab] {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
}

.react-tabs [role=tab][aria-selected=true] {
  background: #fff;
  border-color: #aaa;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

.react-tabs [role=tab]:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs [role=tab]:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.title-modal {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: .1rem solid rgba(0, 0, 0, 0.12);
}

.modal-bottom {
  padding-top: 15px;
  border-top: .1rem solid rgba(0, 0, 0, 0.12);
  .btn {
    &:first-of-type {
      margin-right: 15px;
    }
  }
}

//.ReactModal__Overlay {
//  z-index: 1001;
//  .ReactModal__Content {
//    h2 {
//      font-size: 16px;
//      padding-bottom: 15px;
//      border-bottom: .1rem solid rgba(0, 0, 0, 0.12);
//    }
//  }
//  .modal-bottom {
//    padding-top: 15px;
//    border-top: .1rem solid rgba(0, 0, 0, 0.12);
//    .btn {
//      &:first-of-type {
//        margin-right: 15px;
//      }
//    }
//  }
//}

.ui-box {
  margin-top: 20px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  .ui-box-title {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
    padding: 10px;
    .warning-icon {
      width: 16px;
      height: 16px;
      background-position: -17px -72px;
      background-image: url('/images/icons-3.png');
      background-size: auto;
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 10px;
    }
  }
  .ui-box-content {
    padding: 10px;
  }
}

.btn {
  i.fa {
    margin-right: 5px;
  }
}

a.black-none-under {
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.group-icon {
  background-image: url('/images/icons.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.no-event {
  margin-top: 15px;
  font-weight: bold;
}

.no-class {
  margin: 0 50px;
  font-weight: bold;
}

.has-border-radius {
  border: 1px solid #dddfe2;
  border-radius: 3px;
  position: relative;
  &:before {
    border: 1px solid #dddfe2;
    border-radius: 4px;
    bottom: -1px;
    content: '';
    left: -1px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: -1px;
  }
}

#divLoading {
  display: none;
}

#divLoading.show {
  display: block;
  position: fixed;
  z-index: 100;
  background-image: url('/images/loading.gif');
  background-color: #fff;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

#loadinggif.show {
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 101;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
}

div.content {
  width: 1000px;
  height: 1000px;
}

.rbc-calendar {
  .rbc-toolbar {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      font-size: 12px;
    }
    @media (max-width: $screen-sm-max) {
      .rbc-btn-group {
        &:last-of-type {
          display: none;
        }
      }
    }
  }
}