.class-left-menu .class-profile-picture img {
  height: 135px;
  width: 100%; }
.class-left-menu .class-profile-picture .cover-profile-picture {
  display: none;
  background-color: #CCCCCC;
  z-index: 5;
  position: absolute;
  top: 25%;
  left: 15%;
  height: 50px;
  width: 135px;
  padding-left: 35px;
  padding-top: 4px; }
  .class-left-menu .class-profile-picture .cover-profile-picture i {
    display: inline-block;
    position: absolute;
    left: -25px;
    bottom: 15px; }
.class-left-menu .class-profile-picture:hover .cover-profile-picture {
  display: block; }

.action-with-class {
  padding: 10px 5px;
  background-color: #fff; }
  .action-with-class .dropdown {
    float: left; }
    .action-with-class .dropdown .btn-share-class {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .action-with-class .dropdown .btn-manage-class {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      margin-left: -1px;
      padding-left: 5px;
      padding-right: 5px; }

.class-headline {
  padding: 10px;
  background-color: #fff;
  margin-top: 20px; }
  .class-headline h1 {
    font-size: 20px; }
  .class-headline .navbar-search {
    margin: 10px 0; }
    .class-headline .navbar-search .form-control {
      padding: 4px 10px 4px 30px; }
    .class-headline .navbar-search .btn {
      left: 0; }
  .class-headline a:hover {
    text-decoration: none; }
  .class-headline .class-headline-content {
    align-items: center;
    display: flex;
    height: 28px;
    line-height: 28px;
    position: relative;
    z-index: 0; }
    .class-headline .class-headline-content:hover {
      background-color: #e6ecf0; }
  .class-headline .class-headline-content.current {
    background-color: #e6ecf0; }

.class-topics {
  padding: 10px;
  background-color: #fff;
  margin-top: 20px; }
  .class-topics h3 {
    font-size: 16px; }
  .class-topics .topic:hover {
    background-color: #e6ecf0; }
  .class-topics .topic-full-name {
    max-width: 120px;
    align-items: center;
    display: flex;
    height: 28px;
    line-height: 28px;
    position: relative;
    z-index: 0;
    float: left; }
    .class-topics .topic-full-name:hover {
      text-decoration: none; }
  .class-topics .dropdown {
    float: left; }
  .class-topics .class-add-topic {
    margin-top: 10px; }

.class-feed .feed .feed-content {
  margin: 20px 15px; }

.class-events-upcomming {
  padding: 10px;
  background-color: #fff;
  margin-top: 10px; }
  .class-events-upcomming h3 {
    font-size: 16px; }
  .class-events-upcomming .event-detail {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
    padding: 5px 0; }
    .class-events-upcomming .event-detail .event-start {
      color: rgba(0, 0, 0, 0.55); }
    .class-events-upcomming .event-detail .event-title {
      color: #00695c; }
  .class-events-upcomming .btn {
    margin-top: 10px; }

.add-member-and-description-and-location {
  margin-top: 10px;
  padding: 10px;
  background-color: #fff; }
  .add-member-and-description-and-location .description, .add-member-and-description-and-location .location {
    margin-top: 15px;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.12); }
  .add-member-and-description-and-location h3 {
    font-size: 16px; }

.add-member h3 {
  font-size: 16px; }
  .add-member h3 a {
    font-size: 14px; }
.add-member .form-control {
  font-size: 12px; }

.class-recent-files {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff; }
  .class-recent-files h3 {
    font-size: 16px; }

.class-files {
  margin-left: 20px;
  padding: 0px 10px 30px 10px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 5px; }
  .class-files .class-files-headline {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
    margin: 10px 0 20px 0; }
    .class-files .class-files-headline h2 {
      font-size: 18px; }
      .class-files .class-files-headline h2 div {
        float: right; }
      .class-files .class-files-headline h2 button {
        font-size: 16px;
        margin-top: -10px; }
        .class-files .class-files-headline h2 button .fa {
          margin-right: 10px; }
  .class-files .file {
    margin-top: 10px; }

.class-calendar {
  margin-left: 20px;
  margin-top: 10px;
  padding: 0px 10px 30px 10px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 5px; }
  .class-calendar .class-events-calendar-headline {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 0; }
    .class-calendar .class-events-calendar-headline li span {
      font-size: 16px;
      margin-right: 10px; }
    .class-calendar .class-events-calendar-headline li .btn:first-of-type {
      margin-right: 10px; }
    .class-calendar .class-events-calendar-headline li .btn .fa {
      margin-right: 5px; }
    .class-calendar .class-events-calendar-headline a {
      color: #000; }
      .class-calendar .class-events-calendar-headline a:hover {
        text-decoration: none; }
    .class-calendar .class-events-calendar-headline .current {
      padding-bottom: 12px;
      border-bottom: 4px solid blue; }
    .class-calendar .class-events-calendar-headline ul {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      list-style: none; }
      .class-calendar .class-events-calendar-headline ul li {
        display: inline-block;
        list-style-type: none;
        max-width: 100%;
        position: relative;
        vertical-align: middle; }

.class-events {
  margin-left: 20px;
  margin-top: 10px;
  padding: 0px 10px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 5px; }
  .class-events .class-events-calendar-headline {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 0; }
    .class-events .class-events-calendar-headline li span {
      font-size: 16px;
      margin-right: 10px; }
    .class-events .class-events-calendar-headline li .btn:first-of-type {
      margin-right: 10px; }
    .class-events .class-events-calendar-headline li .btn .fa {
      margin-right: 5px; }
    .class-events .class-events-calendar-headline a {
      color: #000; }
      .class-events .class-events-calendar-headline a:hover {
        text-decoration: none; }
    .class-events .class-events-calendar-headline .current {
      padding-bottom: 12px;
      border-bottom: 4px solid blue; }
    .class-events .class-events-calendar-headline ul {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      list-style: none; }
      .class-events .class-events-calendar-headline ul li {
        display: inline-block;
        list-style-type: none;
        max-width: 100%;
        position: relative;
        vertical-align: middle; }

.class-members .class-members-headline {
  margin: 10px 38px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 5px; }
  .class-members .class-members-headline div {
    margin-top: 10px;
    padding: 5px 0; }
  .class-members .class-members-headline li span {
    font-size: 16px;
    margin-right: 10px; }
  .class-members .class-members-headline li .btn:first-of-type {
    margin-right: 10px; }
  .class-members .class-members-headline li .btn .fa {
    margin-right: 5px; }
  .class-members .class-members-headline a {
    color: #000; }
    .class-members .class-members-headline a:hover, .class-members .class-members-headline a:focus {
      text-decoration: none; }
  .class-members .class-members-headline .current {
    padding-bottom: 3px;
    border-bottom: 4px solid blue; }
  .class-members .class-members-headline ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style: none; }
    .class-members .class-members-headline ul li {
      display: inline-block;
      list-style-type: none;
      max-width: 100%;
      position: relative;
      vertical-align: middle; }
.class-members .class-members-content .panel-member .panel-body {
  display: flex; }
  .class-members .class-members-content .panel-member .panel-body .dropdown {
    margin: auto; }
.class-members .class-members-content .panel-member .panel-member-col {
  float: left; }

.create-class-modal .react-tagsinput .react-tagsinput-input {
  width: 150px; }

.classes .classes-header {
  background-color: #fff;
  padding: 15px 20px 0;
  margin-top: 10px; }
  .classes .classes-header .current {
    border-bottom: 4px solid #4267b2;
    font-size: 16px;
    margin: 8px 0;
    padding: 5px 16px 7px;
    font-weight: bold; }
  .classes .classes-header .btn-create-group {
    margin-bottom: 5px;
    margin-top: -5px; }
.classes .classes-content {
  margin-top: 15px; }
  .classes .classes-content .class-detail {
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin: 5px 0; }
    .classes .classes-content .class-detail .class-detail-left {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      overflow: hidden; }
      .classes .classes-content .class-detail .class-detail-left .class-profile-picture img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15); }
      .classes .classes-content .class-detail .class-detail-left .class-info {
        margin: 0 10px; }

.class-manage .class-manage-leftmenu {
  padding: 10px 0; }
  .class-manage .class-manage-leftmenu a:hover, .class-manage .class-manage-leftmenu a:focus {
    text-decoration: none; }
  .class-manage .class-manage-leftmenu .class-manage-leftmenu-content {
    align-items: center;
    display: flex;
    height: 28px;
    line-height: 28px;
    position: relative;
    z-index: 0;
    padding: 0 5px; }
    .class-manage .class-manage-leftmenu .class-manage-leftmenu-content:hover {
      background-color: #e6ecf0; }
  .class-manage .class-manage-leftmenu .class-manage-leftmenu-content.current {
    background-color: #e6ecf0; }
.class-manage .class-manage-main-content .member-request {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12); }
  .class-manage .class-manage-main-content .member-request:first-of-type {
    margin-top: 0; }
  .class-manage .class-manage-main-content .member-request:last-of-type {
    border-bottom: none; }
  .class-manage .class-manage-main-content .member-request .member-info {
    display: inline-block; }
    .class-manage .class-manage-main-content .member-request .member-info .member-info-content {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px; }
    .class-manage .class-manage-main-content .member-request .member-info .btn-group {
      vertical-align: middle; }

/*# sourceMappingURL=class.css.map */
