.top-content-user-profile {
  .cover-photo {
    display: block;
    position: relative;
    img {
      width: 100%;
      height: 315px;
    }

    .cover-cover-photo {
      display: none;
      top: 45px;
      left: 45px;
      z-index: 3;
      position: absolute;
    }

    &:hover {
      .cover-cover-photo {
        display: block;
      }
    }
  }

  .profile-picture {
    z-index: 4;
    position: absolute;
    top: 175px;
    left: 25px;

    img {
      width: 175px;
      height: 175px;
    }

    .cover-profile-picture {
      display: none;
      background-color: #CCCCCC;
      z-index: 5;
      position: absolute;
      top: 50%;
      height: 50px;
      width: 135px;
      left: 20px;
      padding-left: 35px;
      padding-top: 4px;

      i {
        display: inline-block;
        position: absolute;
        left: -25px;
        bottom: 15px;
      }
    }

    &:hover {
      .cover-profile-picture {
        display: block;
      }
    }
  }
}

.timeline-headline {
  overflow: auto;
  clear: both;
  padding-left: 200px;
  background-color: #fff;

  ul {
    li {
      a {
        border-right: 1px solid #e9eaed;
        float: left;
        font-size: 14px;
        font-weight: bold;
        height: 43px;
        line-height: 3.05;
        padding: 0 17px;
        position: relative;
        vertical-align: middle;
        white-space: nowrap;

        &:hover {
          background: #f6f7f9;
          text-decoration: none;
        }
      }
    }
    .current{
      a{
        background: #f6f7f9;
      }
    }
  }
}

.intros {
  background-color: #fff;
  margin-top: 20px;
  padding: 10px 0;
  .user-fullname {
    margin-left: 15px;
  }

  ul.list-intro {
    list-style: none;
    margin-left: -25px;
    li {
      margin-top: 5px;
    }
    i {
      font-size: 16px;
    }

    .fa-home {
      font-size: 20px;
    }

    .message {
      margin-left: 5px;
    }
  }
}

.user-profile-feed {
  .feed {
    .feed-content {
      margin: 20px 0px;
    }
  }
}