$main-color: rgba(146, 181, 88, 1);
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

.home-page {
  .home-leftmenu {
    //position: fixed;
    .school-logo {
      img {
        width: 100%;
      }
    }
    .user-info {
      margin-top: 10px;
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
    }
    .home-leftmenu-title {
      font-weight: bold;
      margin-bottom: 5px;
    }
    ul.home-leftmenu-list {
      list-style: none;
      padding-left: 0px;
      li {
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        padding: 5px;
        line-height: 28px;
        position: relative;
        z-index: 0;
        &:hover {
          background-color: #F6F7F9;
        }
        i {
          font-size: 18px;
        }
        .group-icon {
          margin-top: 4px;
          max-height: 20px;
          max-width: 20px;
          position: absolute;
          background-position: 0 -383px;
        }
        .group-label {
          margin-left: 25px;
        }
        a {
          color: #000;
          &:hover {
            text-decoration: none;
          }
          span {
            margin-left: 10px;
          }
        }
        .user-profile-info {
          .user-fullname {
            margin-left: 5px;
          }
        }
      }
    }
  }
  .school-profile-picture {
    img {
      width: 100%;
      @media (min-width: $screen-sm-min) {
        height: 250px;
      }
    }
  }
  .home-feed {
    .feed {
      .no-post {
        margin: 20px 0px;
      }
      .feed-content {
        margin-top: 20px;
        .post-detail {
          .post-content-info {
            .files {
              .file {
                .file-content {
                  @media (max-width: $screen-xs-max) {
                    width: 40%;
                    max-width: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .home-school-about {
    .school-map {
      img {
        height: 100px;
        width: 100%;
      }
    }
    .school-about-detail {
      margin: 5px 0;
      i.fa {
        margin-right: 10px;
      }
    }
  }
  .home-rightmenu {
    .home-announcements {
      .announcement-detail {
        margin-top: 5px;
        padding-bottom: 5px;
        border-bottom: .1rem solid rgba(0, 0, 0, 0.12);
        &:last-of-type {
          border-bottom: none;
        }
        .announcement-time-user {
          .user-profile-info {
            display: inline-block;
          }
        }
      }
    }
  }
}