name: Build and Publish Docker image
on:
  push:
    branches: 
      - develop
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Create Docker images 
        run: docker-compose build
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Tag images
        run: |
          docker tag education_social_network_webserver ${{ secrets.DOCKER_USER }}/education_social_network_webserver:latest
          docker tag education_social_network_webapp ${{ secrets.DOCKER_USER }}/education_social_network_webapp:latest
      - name: Push images to DockerHub
        run: |
          docker push ${{ secrets.DOCKER_USER }}/education_social_network_webserver:latest
          docker push ${{ secrets.DOCKER_USER }}/education_social_network_webapp:latest