.events-left-menu .title {
  font-size: 20px; }
  .events-left-menu .title span {
    margin-left: 10px; }
.events-left-menu .btn .fa {
  margin-right: 5px; }
.events-left-menu .buttons .btn {
  margin-bottom: 10px; }

.events-headline {
  margin-top: 10px;
  margin-bottom: 20px; }
  .events-headline h1 {
    font-size: 20px; }
  .events-headline a:hover {
    text-decoration: none; }
  .events-headline .events-headline-content {
    align-items: center;
    display: flex;
    padding: 0 5px;
    line-height: 28px;
    position: relative;
    z-index: 0; }
    .events-headline .events-headline-content:hover {
      background-color: #F6F7F9; }
  .events-headline .events-headline-content.current {
    background-color: #F6F7F9; }
  .events-headline .event-detail {
    margin: 5px 0 5px 10px;
    padding-left: 10px;
    border-left: 2px solid dodgerblue; }

.find-event {
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #fff;
  margin-top: 10px; }
  .find-event .find-event-title {
    font-weight: bold;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    padding-left: 15px; }
  .find-event .find-event-filter-group ul {
    list-style-type: none;
    margin: 0;
    padding: 8px; }
    .find-event .find-event-filter-group ul .find-event-filter {
      background: #4267b2;
      border-radius: 4px;
      display: inline-block;
      margin: 2px 4px; }
      .find-event .find-event-filter-group ul .find-event-filter a {
        color: #fff;
        display: block;
        font-weight: bold;
        height: 96px;
        position: relative;
        text-decoration: none;
        width: 110px; }
        .find-event .find-event-filter-group ul .find-event-filter a span {
          bottom: 8px;
          font-size: 16px;
          left: 8px;
          line-height: 20px;
          position: absolute;
          right: 8px; }
      .find-event .find-event-filter-group ul .find-event-filter:nth-child(2) {
        background: #fcd872; }
      .find-event .find-event-filter-group ul .find-event-filter:nth-child(2) {
        background: #f35369; }
      .find-event .find-event-filter-group ul .find-event-filter:nth-child(2) {
        background: #8c72cb; }

.event-agenda {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12); }
  .event-agenda .event-photo {
    float: left; }
    .event-agenda .event-photo img {
      width: 100px;
      height: 70px; }
  .event-agenda .event-detail {
    float: left;
    margin-left: 10px; }
    .event-agenda .event-detail .event-name {
      font-weight: bold;
      font-size: 16px; }
    .event-agenda .event-detail .event-location {
      margin: 5px 0;
      color: rgba(0, 0, 0, 0.55); }
      .event-agenda .event-detail .event-location i.fa {
        margin-right: 15px; }
    .event-agenda .event-detail .event-start i.fa {
      margin-right: 10px; }
    .event-agenda .event-detail .action-with-event {
      margin-top: 5px; }
      .event-agenda .event-detail .action-with-event .share-text {
        margin: 0 10px; }

.event-pinboard .event-photo img {
  width: 195px;
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
.event-pinboard .event-detail {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
  padding: 5px; }
  .event-pinboard .event-detail div {
    padding-bottom: 5px; }
  .event-pinboard .event-detail i {
    margin-right: 8px; }
  .event-pinboard .event-detail .event-location i.fa {
    margin-right: 15px; }
.event-pinboard .action-with-event {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 5px; }
  .event-pinboard .action-with-event .share-text {
    margin: 0 10px; }
  .event-pinboard .action-with-event .dropdown-menu {
    margin-left: 5px; }

.events {
  margin-left: 20px;
  margin-top: 10px;
  padding: 0px 10px 20px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 5px; }
  .events .events-header {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
    padding: 10px 0;
    font-size: 16px;
    color: #000; }
    .events .events-header .events-header-title {
      margin-right: 100px;
      font-weight: bold; }
    .events .events-header .discovery-filter {
      display: inline-block;
      width: auto;
      vertical-align: middle; }
      .events .events-header .discovery-filter .discovery-filter-form .show-filter-content-button {
        height: 34px; }
      .events .events-header .discovery-filter .discovery-filter-form .controls .input-group {
        width: 450px; }
      .events .events-header .discovery-filter .discovery-filter-form .discovery-filter-content {
        background-color: #fff;
        color: #212121;
        font-size: 14px;
        font-family: inherit;
        line-height: 16px;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 2px;
        border-radius: 2px;
        outline: 0;
        position: absolute;
        margin-top: 3px;
        width: 450px;
        z-index: 1003; }
        .events .events-header .discovery-filter .discovery-filter-form .discovery-filter-content .filter-content-detail {
          padding: 4px 16px; }
          .events .events-header .discovery-filter .discovery-filter-form .discovery-filter-content .filter-content-detail:first-of-type {
            margin-top: 10px; }
          .events .events-header .discovery-filter .discovery-filter-form .discovery-filter-content .filter-content-detail .DateRangePicker .DateInput {
            font-size: 16px;
            line-height: 20px;
            width: 110px; }
            .events .events-header .discovery-filter .discovery-filter-form .discovery-filter-content .filter-content-detail .DateRangePicker .DateInput .DateInput_input {
              font-size: 16px;
              line-height: 20px;
              padding: 8px; }
        .events .events-header .discovery-filter .discovery-filter-form .discovery-filter-content .form-bottom {
          margin-bottom: 15px;
          margin-right: 33px; }
          .events .events-header .discovery-filter .discovery-filter-form .discovery-filter-content .form-bottom .btn:first-of-type {
            margin-right: 10px; }
      .events .events-header .discovery-filter .discovery-filter-form .hide-filter-content {
        display: none; }
    .events .events-header .change-view-style {
      float: right;
      display: inline-block; }
      .events .events-header .change-view-style .current {
        background: #E6ECF0; }
  .events .events-content {
    margin-top: 10px; }
    .events .events-content .event-pinboard {
      margin: 10px 0;
      border: 0.1rem solid rgba(0, 0, 0, 0.12);
      border-radius: 5px; }

.calendar {
  margin-left: 20px;
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-radius: 5px; }

.has-bulk-actions {
  position: relative;
  border: none;
  box-shadow: none; }
  .has-bulk-actions .filter-container {
    padding: 10px; }
    .has-bulk-actions .filter-container .btn {
      height: 34px;
      line-height: 32px;
      padding-top: 0; }
    .has-bulk-actions .filter-container .btn-filter {
      color: #3795ff;
      border-bottom-right-radius: 0;
      border-right: 0 none;
      border-top-right-radius: 0; }
      .has-bulk-actions .filter-container .btn-filter span.caret {
        margin-left: 5px; }
    .has-bulk-actions .filter-container > .btn-group-filter {
      width: 100%;
      display: flex; }
      .has-bulk-actions .filter-container > .btn-group-filter > .btn-group {
        width: auto;
        display: table-cell;
        float: left; }
      .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-menu.arrow-style {
        margin-top: 10px; }
      .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter {
        float: left;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 14px; }
        .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter.arrow-style:before, .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter.arrow-style:after {
          border-top: none;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
          position: absolute;
          left: 5px;
          content: "";
          width: 0;
          height: 0; }
        .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter.arrow-style:after {
          top: -6px;
          border-bottom: 7px solid #fff; }
        .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter.arrow-style:before {
          top: -7px;
          border-bottom: 7px solid #c2c2c2; }
        .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters {
          padding: 10px; }
          .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters .filters-title {
            font-weight: bold; }
          .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters .filter-content {
            display: flex; }
            .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters .filter-content .form-control {
              width: auto; }
              .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters .filter-content .form-control:focus {
                outline: none;
                border-color: #ccc;
                box-shadow: none; }
            .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters .filter-content .filter-choose {
              display: flex;
              margin: 0px 15px; }
              .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters .filter-content .filter-choose select:focus {
                outline: none;
                border-color: #ccc;
                box-shadow: none; }
              .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters .filter-content .filter-choose .btn-white {
                margin-left: 15px; }
                .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters .filter-content .filter-choose .btn-white:focus {
                  outline: none;
                  box-shadow: none; }
              .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters .filter-content .filter-choose .date {
                display: flex; }
                .has-bulk-actions .filter-container > .btn-group-filter .btn-group .dropdown-filter .filters .filter-content .filter-choose .date .rdt {
                  margin-left: 10px; }
      .has-bulk-actions .filter-container > .btn-group-filter .bootstrap-tagsinput {
        margin-bottom: 0; }
    .has-bulk-actions .filter-container .search-container {
      display: table-cell;
      width: 100%;
      float: left; }
      .has-bulk-actions .filter-container .search-container .search-input {
        border-radius: 0px;
        box-shadow: none;
        border-color: #ccc; }
        .has-bulk-actions .filter-container .search-container .search-input:focus {
          outline: none;
          box-shadow: none;
          border-color: #ccc; }

.event-main-content .event-detail-top-content .cover-photo img {
  height: 260px;
  width: 100%; }
.event-main-content .event-detail-top-content .event-detail-info {
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  padding: 10px; }
  .event-main-content .event-detail-top-content .event-detail-info .event-detail-info-row:nth-of-type(1) {
    margin: 5px; }
  .event-main-content .event-detail-top-content .event-detail-info .event-detail-info-row .event-detail-info-content {
    float: left; }
    .event-main-content .event-detail-top-content .event-detail-info .event-detail-info-row .event-detail-info-content:nth-of-type(2) {
      margin-left: 20px; }
    .event-main-content .event-detail-top-content .event-detail-info .event-detail-info-row .event-detail-info-content .event-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px; }
    .event-main-content .event-detail-top-content .event-detail-info .event-detail-info-row .event-detail-info-content .event-for-class .class-profile-info {
      display: inline-block;
      color: #365899;
      cursor: pointer; }
    .event-main-content .event-detail-top-content .event-detail-info .event-detail-info-row .event-detail-info-content .event-from-user .user-profile-info {
      display: inline-block;
      color: #365899;
      cursor: pointer; }
  .event-main-content .event-detail-top-content .event-detail-info .buttons {
    padding-bottom: 10px;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12); }
    .event-main-content .event-detail-top-content .event-detail-info .buttons .btn-group span {
      margin: 0 5px; }
  .event-main-content .event-detail-top-content .event-detail-info .event-detail-extra {
    margin: 10px; }
  .event-main-content .event-detail-top-content .event-detail-info .event-location i.fa {
    margin-right: 15px; }
  .event-main-content .event-detail-top-content .event-detail-info .event-start i.fa {
    margin-right: 10px; }
.event-main-content .event-about-user .user-profile-picture {
  float: left;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  display: block;
  padding: 1px;
  box-shadow: none; }
  .event-main-content .event-about-user .user-profile-picture img {
    background-color: #fff;
    width: 50px; }
.event-main-content .event-about-user .user-detail {
  float: left;
  margin-left: 10px; }

.create-event-modal .event-photo-upload {
  background-color: #4b4f56;
  width: 386px;
  height: 202px;
  display: flex; }
  .create-event-modal .event-photo-upload div {
    margin: auto; }
  .create-event-modal .event-photo-upload .upload-content {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px 5px 12px;
    position: relative; }
    .create-event-modal .event-photo-upload .upload-content i {
      margin-right: 6px;
      padding-bottom: 2px;
      vertical-align: middle; }
.create-event-modal .event-photo-preview img {
  width: 386px;
  height: 202px; }
.create-event-modal .event-photo-preview .btn-remove-event-photo {
  top: 0px;
  right: 50px; }
.create-event-modal textarea {
  max-width: 454px;
  max-height: 100px; }
.create-event-modal .frequency-weekly .frequency-weekly-days-select .day-select {
  display: inline-block;
  width: 50px; }

/*# sourceMappingURL=event.css.map */
